{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
    <style>.errorlist {
        color: red;
    }

    label {
        display: none
    }</style>
    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row">
                            <!-- Previa del avatar -->
                            <div class="col-md-2">
                                {% if request.user.profile.avatar %}
                                    <img src="{{ request.user.profile.avatar.url }}" class="img-fluid">
                                    <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear"
                                                                    name="avatar-clear"/></p>
                                {% else %}
                                    <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
                                {% endif %}
                            </div>
                            <!-- Formulario -->
                            <div class="col-md-10">
                                <h3>{{ request.user }}</h3>
                                <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">
                                {{ form.bio }}
                                {{ form.link }}
                                <input type="email" value="{{ request.user.email }}" class="form-control mt-3" readonly>
                                <p class="mt-3">
                                    <a href="{% url 'profile_email' %}">Editar email</a> |
                                    <a href="{% url 'password_change' %}">Cambiar Password</a>
                                </p>
                                <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}